# .gitignore
__pycache__/
.mypy_cache
.ruff_cache
*.apkg
data/output/
logs

# Data
data/fr_en/*
!data/fr_en/input_words.csv
outputs/*

# Distribution / packaging
.venv/
poetry.lock

# Coverage reports
htmlcov/
.pytest_cache
.coverage
coverage.xml
.coverage.*

# Notebooks
**.ipynb_checkpoints
*.ipynb

# VSCode
.vscode
